In [ ]:
### 1. Write a single-line comment and print 'Hello World'.
print("Hello World")

Hello World

In [4]:
### 2. Use an inline comment in a print statement.
print("This is a comment") ## This is a inline comment

This is a comment

In [3]:
## 3. Write a multiline comment using #.
## This is a comment
## THis is also a comment
print("This is a comment") ## This is a inline comment

This is a comment

In [ ]:
##4. Write a multiline comment using triple quotes """.
"""This is a comment using triple quotes"""

'This is a comment using triple quotes'

In [9]:
##5. Create 3 valid variable names and print them.
num1 = "priyraj"
num2 = "krish"
num3 = "dhyey"
print(num1)
print(num2)
print(num3)

priyraj
krish
dhyey

In [13]:
## 6.Show an invalid variable name and explain why.
name = @priyrajsinh  ## variables should start with alphabets or underscore
print(name)

SyntaxError: invalid syntax (3623912974.py, line 2)

In [18]:
## 7.Assign values to multiple variables in one line and print them
X, y , z= "apple", "abnana", "kiwi"
print(X)
print(y)
print(z)

apple
abnana
kiwi

In [16]:
## 8.Assign one value to multiple variables and print them.
a= b= c= 10
print(a)
print(b)
print(c)

10
10
10

In [23]:
## 9.Create variables of type int, float, complex and print their types.
my_int = 5
my_float = 5.5
my_complex = 2+5j
print(type(my_int))
print(type(my_float))
print(type(my_complex))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
## 10. Show reassignment of a variable with a new type.
my_num = 5
new_num = my_num + 0.5
print(new_num)

5.5

In [30]:
## 11.Declare a string and convert it to uppercase
a = "hello world"
print(a)
a.upper()

hello world

'HELLO WORLD'

In [31]:
## 12. Convert a string to lowercase.
b = "HELLO WORLD"
print(b)
b.lower()

HELLO WORLD

'hello world'

In [32]:
## 13. Remove spaces from the beginning and end of a string using strip().
a = "                                                       priyrajsinh"
print(a)
print(a.strip())

                                                       priyrajsinh
priyrajsinh

In [34]:
## 14. Replace 'Python' with 'Java' in a string.
str1 = "python"
str2 = str1.replace("python", "java")
print(str2)

java

In [ ]:
## 15.Concatenate two strings with +.
str1 = "Priyrajsinh"
str2 = "Parmar"
print(str1 + str2)

PriyrajsinhParmar

In [41]:
## 16.Concatenate two strings with a space in between.
str1 = "Priyrajsinh "
str2 = "Parmar"
print(str1 + str2)

Priyrajsinh Parmar

In [43]:
## 17. Format a string using f-strings (showing age).
age = 21
print(f"Hello My name is priyraj and i am {age + 7} years old")

Hello My name is priyraj and i am 28 years old

In [44]:
## 18. Format a string with a decimal using :.2f.
bill = 450
print(f"Your bill is {bill:.2f}")

Your bill is 450.00

In [45]:
## 19. Demonstrate \n (newline) in a string.
print("Helo I am priyraj\nand i am learing python")

Helo I am priyraj
and i am learing python

In [47]:
## 20. Demonstrate \t (tab) in a string.
str2 = "Priyrajsinh\tParmar"
print(str2)

Priyrajsinh	Parmar

In [48]:
## 21.Declare a float variable and print it.
my_float = 25.55
print(my_float)

25.55

In [49]:
## 22.Perform addition of two floats.
my_float1 = 24.5
my_flaot2 = 24.5
print(my_float1 + my_flaot2)

49.0

In [50]:
## 23. Multiply two floats (area of rectangle).
my_length = 24.5
my_width = 24.5
area = my_length * my_width
print(f"The are of rectangle is {area}")

The are of rectangle is 600.25

In [53]:
## 24. Divide two floats and show result.
flo1 = 12
flo2 = 2 
flodiv = flo1 / flo2 
print(flodiv)

6.0

In [54]:
## 25.Calculate power using floats.
pow1 = 2
pow2 = 3
pow3 = pow1 ** pow2
print(pow3)

8

In [55]:
## 26. Multiply integer with float.
int_val = 5
float_value = 10.5
result = int_val * float_value
print(result)

52.5

In [56]:
## 27. Round a float to 2 decimal places.
value = 3.14871
rounded_value = round(value, 2)
print(rounded_value)

3.15

In [58]:
## 28. Convert a float to an integer.
a = 5.0
b = a 
print(int(b))

5

In [60]:
## 29. Print a negative float value.
negative_float = -3.14
print(negative_float)

-3.14

In [61]:
## 30. Store multiple floats in a list and print their sum.
price = [19.99, 25.99, 50.99, 9.99]
result = sum(price)
print(result)

106.96

In [ ]:
## 31. Take two integer inputs from user and print their addition.
a = int(input("Enter First number:"))
b = int(input("Enter second number:"))

result = a + b
print(f"The addition of {a} and {b} is {result}")

The addition of 5 and 5 is 10

In [64]:
## 32. Take two complex numbers and print their sum.
com1 = 2 + 3j
com2 = 5- 4j

result = com1 + com2 
print(f"The addtion of {com1} and {com2} is {result}")

The addtion of (2+3j) and (5-4j) is (7-1j)

In [67]:
## 33. Check if a user-entered number is positive.
num1 = int(input("Enter a number:"))
print(num1)
print(f"Is the number positive?{num1 > 0}")

-4
Is the number positive?False

In [72]:
## 34. Check if a user-entered number is even.
num1 = int(input("Enter a number:"))
print(num1)
print(f"Is the number even? {num1 %2 == 0}")

6
Is the number even? True

In [74]:
## 35. Check if a user-entered number is divisible by 5.
num1 = int(input("Enter a number:"))
print(num1)
print(f"Is the number divisible by 5 ? {num1 %5 == 0}")

25
Is the number divisible by 5 ? True

In [75]:
## 36. Check if two user-entered numbers are equal.
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
print(f"Are the number enterd equal?{num1 == num2}")

Are the number enterd equal?True

In [76]:
## 37. Check if a string contains only alphabets (isalpha()).
text = input("Enter a string")
print(f"Does the sting contain alphabates ? {text.isalpha()}")

Does the sting contain alphabates ? True

In [80]:
##38. Check if a string is a palindrome.
text = input("Enter a string")
print(f"The entered sting is {text}")
print(f"Is the enterd string palindrome? {text == text[::-1]}")

The entered sting is hannah
Is the enterd string palindrome? True

In [83]:
## 39. Check if a number is greater than another number.
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
print(f"The first number is {num1}")
print(f"The second number is {num2}")
print(f"Is the first number greater than second? {num1 > num2}")

The first number is 5
The second number is 3
Is the first number greater than second? True

In [84]:
## 40. Check if a number lies between 1 and 10.
num = int(input("Enter a number:"))
print(f"The number enterd is {num}")
print(f"Does the number lie between 1 and 10? {0 <=num <=10}")

The number enterd is 5
Does the number lie between 1 and 10? True

In [3]:
## 41. Create a list of 3 fruits and print it.
fruit = list(["apple", "mango", "kiwi"])
print(fruit)

['apple', 'mango', 'kiwi']

In [4]:
## 42. Create a list with duplicate values and print it.
my_list = [1, 2, 3, 2, 4, 1, 5]
print(my_list)

[1, 2, 3, 2, 4, 1, 5]

In [5]:
## 43. Find the length of a list using len().
fruit = list(["apple", "kiwi", "banana", "mango", "cherry"])
print(len(fruit))

5

In [7]:
## 44. Create a mixed data type list and print it.
mixed_list = [1, "hello", 3.14, [2,1,6]]
print(mixed_list)

[1, 'hello', 3.14, [2, 1, 6]]

In [12]:
## 45. Access the second element of a list.
thislist = ["apple", "banana", "cherry", "Kiwi", "mango", "melon", "grapes", "orange", "watermelon"]
my_list = thislist[1]
print(my_list)

banana

In [13]:
## 46. Access the last element of a list using negative index.
thislist = ["apple", "banana", "cherry", "Kiwi", "mango", "melon", "grapes", "orange", "watermelon"]
my_list = thislist[-1]
print(my_list)

watermelon

In [14]:
## 47. Print a sublist using slicing (2:5).
thislist = ["apple", "banana", "cherry", "Kiwi", "mango", "melon", "grapes", "orange", "watermelon"]
my_list = thislist[2:5]
print(my_list)

['cherry', 'Kiwi', 'mango']

In [15]:
## 48. Print all elements from index 2 to end.
thislist = ["apple", "banana", "cherry", "Kiwi", "mango", "melon", "grapes", "orange", "watermelon"]
my_list = thislist[2:]
print(my_list)

['cherry', 'Kiwi', 'mango', 'melon', 'grapes', 'orange', 'watermelon']

In [20]:
## 49. Check if 'apple' exists in a list.
thislist = ["banana", "cherry", "Kiwi", "mango", "melon", "grapes", "orange", "watermelon"]
if "apple" in thislist:
    print("yes")
else:
    print("No")

No

In [27]:
## 50. Print numbers from 1 to 10 using range() in a loop.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10